/* Main */
html,
body {
	background: #efefef;
	color: $body-color;
}

/* Fonts and Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-family: $heading-font-family;
}

// Vuetify Light Theme Overrides
.theme--light {
	&.v-application {
		background-color: $dc-light;
	}

	&.v-footer {
		background-color: $dc-neutral !important;
		border-color: $dc-gray-lt !important;
		border-top: 1px dotted;
		color: $dc-dark !important;
		font-size: 14px;
		padding: 10px 0;
	}
}

// Links that appear within page content
#site-content {
	a:not(button a) {
		color: $primary;
		text-decoration: none;
		transition: color 200ms ease-in-out;
	}

	a:not(button a):hover {
		color: $accent;
		transition: color 200ms ease-in-out;
	}
}

