/* Main */
html,
body {
	background: #efefef;
	color: $body-color;
}

// This is used when the overlay menu is open
.prevent-scroll {
	height: 100vh;
	overflow-y: hidden;
}

/* Fonts and Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-family: $heading-font-family;
}

// Vuetify Light Theme Overrides
.theme--light {
	&.v-application {
		background-color: $dc-light;
	}
}

#site-content {
	padding-bottom: 60px !important;
}

// Links that appear within page content or elsewhare with cleaner style
.content-link {
	color: $primary;
	text-decoration: none;
	transition: color 200ms ease-in-out;
}

.content-link:hover {
	color: $accent;
	transition: color 200ms ease-in-out;
}

