// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify from the originals
// Source - https://github.com/vuetifyjs/vuetify/blob/8bb752b210d25fbebcea12cd073d2ce4986f5e12/packages/vuetify/src/styles/settings/_variables.scss

/* DC Color Palette */
$dc-red: rgb(230, 57, 70);
$dc-neutral: #f1faee;
$dc-blue-lt: #a8dadc;
$dc-blue-md: rgb(69, 123, 157);
$dc-blue-dk: #1d3557;
$dc-green: #24a58e;
$dc-heading: #324055;
$dc-light: #efefef;
$dc-gray: #646d78;
$dc-gray-dk: #505458;
$dc-gray-lt: #d0cdcd;
$dc-dark: #071104;

// Colors to Use
$primary: $dc-blue-md;
$secondary: $dc-blue-lt;
$accent: $dc-red;
$bg-color: $dc-light;
$border-color: $dc-gray;
$scroll-btn-color: #36ff7c;

/* Fonts */
$exo-font: 'Exo', sans-serif;
$casual-font: 'Kalam', sans-serif;
$serif-font: 'Libre Franklin', serif;
$prompt-font: 'Prompt', monospace;
$mono-font: 'Titillium Web', monospace;

/* Typography */
$font-size-root: 20px;
$heading-font-family: $prompt-font;
$heading-color: $dc-heading;
$body-font-family: $exo-font;
$body-color: $dc-dark;

/* Spacing */
$header-height-mobile: 115px;
$header-height: 185px;
