/* Main */
html,
body {
	background: #efefef;
}

.theme--dark.v-application {
	background-color: #333;
}

/* Fonts and Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Libre Franklin', serif;
}

.v-application main a {
	color: $secondary;
	text-decoration: none;
	transition: color 300ms ease-in-out;

	&:hover {
		color: $primary;
	}
}

/* Animations */

/* Overlay */
// openeing
.slide-in-enter-active {
	animation: slideInDown;
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
}
// closing
.slide-in-leave-active {
	animation: slideOutUp;
	animation-delay: 500ms;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
}

/* Fade */
// after opened
.contact-enter-active {
	animation: flipInX;
	animation-duration: 2000ms;
}

// before closing
.contact-leave-active {
	animation: flipOutX;
	animation-duration: 300ms;
}

/* Nav */
// after opened
.nav-enter-active {
	animation: fadeInDown;
	animation-duration: 500ms;
}
// before closing
.nav-leave-active {
	animation: fadeOutUp;
	animation-duration: 300ms;
}
