// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

/* Color Palette */
$primary: #1eb05d;
$secondary: #2ba0b4;

/* Fonts */
$heading-font-family: 'Libre Franklin';
$body-font-family: 'Abel';
$font-size-root: 18px;
